<h1 class="border-bottom">Flats</h1>

<div class="container", id="route buttons">
    <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
    <div id='btn'><%=  link_to "Create a new flat", new_flat_path, class: "btn btn-primary" %></div>
</div>
 
<div class="container">
    <% @flats.each do |flat|%>
     <div class="card" style="width: 18rem;">
        <% if flat.photos.any? %>
            <%= image_tag flat.photos.first, class: "card-img-top"%>
        <%else%>
            <img class="card-img-top" src="https://images.adsttc.com/media/images/5e1d/02c3/3312/fd58/9c00/06e9/slideshow/NewHouse_SA_Photo_01.jpg?1578959519" alt="Card image cap">
        <%end%>
        <div class="card-body">
            <h4 class="card-title"><%= flat.title %> </h4>
            <h4 class="card-price"><%= "$ #{flat.price}" %> </h4>
            <h6 class="card-address"><%= flat.address %> </h6>
            <p class="card-description"><%= flat.description %> </p>
            <a><%= link_to "Update Flat", edit_flat_path(flat), class: "btn btn-primary" %> </a>
        </div>
     </div>
    <% end %>
</div>   
