
<h1 class="border-bottom">New Flat</h1>
<div class="container-user-form">
  <div class= 'divider'>
    <div class='row justify-content-center'>
        <div class="col-6"> 
          <ul>
            <%= simple_form_for [@flat] do |f| %>

            <li>
              <%= f.input :title, as: :text  %>
            </li>
            <li>
              <%= f.input :description, as: :text  %>
            </li>
                <li>
              <%= f.input :address, as: :text  %>
            </li>
                <li>
              <%= f.input :city, as: :string  %>
            </li>
            <li>
              <%= f.input :zip %>
            </li>
            <li>
              <%= f.input :bedroom %>
            </li>
            <li>
              <%= f.input :bed %>
            </li>
            <li>
              <%= f.input :restroom %>
            </li>
            <li>
              <%= f.input :price %>
            </li>
              <li>
              <%= f.input :availability_start_date, as: :date  %>
            </li>
              <li>
              <%= f.input :availability_end_date, as: :date  %>
            </li>
            <li>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            </li>
            <li>
              <%= f.submit %>
            </li>
          </ul>
          <% end %>
        </div>
    </div>
  </div>
</div>

