<h1 class="border-bottom">New Flat</h1>

<ul>

  <%= simple_form_for [@flat] do |f| %>

  <li>
    <%= f.input :price %>
  </li>
    <li>
    <%= f.input :description, as: :text  %>
  </li>
    <li>
    <%= f.input :address, as: :text  %>
  </li>
    <li>
    <%= f.input :availability_start_date, as: :date  %>
  </li>
    <li>
    <%= f.input :availability_end_date, as: :date  %>
  </li>
  <li>
    <%= f.input :title, as: :text  %>
  </li>
  <li>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </li>
  <li>
    <%= f.submit %>
  </li>
</ul>
<% end %>
