<h1 class="border-bottom">My Reservations</h1>

<%=link_to "New Reservation", flats_path, class: "btn btn-primary" %>


<div class='reservation-list'>
  
  <% @reservations.each do |reservation|%>
   <div class="card-trip">
  <img src="https://source.unsplash.com/random" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Start Date: <%= reservation.start_date %> </p>
      <p>End Date: <%= reservation.end_date %> </p>
    </div>
    <h2 class="card-trip-pricing">Price: $<%= reservation.price %> </h2>
    
  </div>
  <%= link_to "Update Reservation", edit_flat_reservation_path(reservation.flat, reservation), class: "btn btn-primary" %>
 <i class="fas fa-trash-alt"> <%= link_to "." , flat_reservation_path(reservation.flat, reservation), method: :delete, data: { confirm: "Are you sure?" }%></i>
</div>

  <% end %>
</div> 
 
