<h1 class="border-bottom">Reservations</h1>

<ul class='task-list'>
  
  <% @reservations.each do |reservation|%>
    <li>
      <h3>Price: <%= reservation.price %> $</h3>
    </li>
    <li>
      <h3>Start Date: <%= reservation.start_date %> </h3>
    </li>
    <li>
      <h3>End Date: <%= reservation.end_date %> </h3>
    </li>
  <% end %>
</ul> 
<%= link_to "Home Page", root_path, class: "btn btn-success" %> 
<%# <%= link_to reservation.price, reservation_path(reservation) %>
<%# 
<div id='btn'><%=  link_to "Create a new reservation", new_reservation_path, class: "btn btn-success" %></div> 